
/* GENERAL STYLES */
body { padding-top: 70px; }

.woofit_section_header {
	text-transform: uppercase;
	margin-bottom: 30px;
}

/* NAV */
.woofit-nav__logo {
	height: 30px;
}

.woofit_modal__form {
	padding: 20px;
}

/*=============================================
INTRO SECTION
=============================================*/
.woofit_intro {
	padding: 40px 0;
}


/*=============================================
DETAILS SECTION
=============================================*/
.woofit_details {
	padding: 40px 0;
	background-color: #eee;
}

/*=============================================
GALERY SECTION
=============================================*/
.woofit_galery {
	padding: 40px 0;
}
.woofit_galery__flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.woofit_galery__flex_item {
	flex-basis: 250px;
	padding: 10px 0;
}

/*=============================================
VIDEO SECTION
=============================================*/
.woofit_video {
	padding: 40px 0;
	background-color: #eee;
}


.woofit_map {
	padding: 40px 0;
}
